@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 23.08% 97.45%;
    --foreground: 207.89 74.74% 18.63%;

    --card: 0 0% 100%;
    --card-foreground: 207.89 74.74% 18.63%;

    --popover: 0 0% 100%;
    --popover-foreground: 207.89 74.74% 18.63%;

    --primary: 189.13 100% 36.08%;
    --primary-foreground: 220 23.08% 97.45%;

    --secondary: 198.75 97.78% 35.29%;
    --secondary-foreground: 220 23.08% 97.45%;

    --muted: 204 61.4% 88.82%;
    --muted-foreground: 202.04 21.97% 56.27%;

    --accent: 206.84 31.67% 76.47%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --warning: 27.16 95.29% 50%;
    --warning-foreground: 207.89 74.74% 18.63%;

    --border: 204 61.4% 88.82%;
    --input: 204 61.4% 88.82%;
    --ring: 198.75 97.78% 35.29%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 208.13 80% 7.84%;
    --foreground: 220 23.08% 97.45%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --muted: 200.63 31.37% 20%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 202.94 23.61% 28.24%;
    --input: 202.94 23.61% 28.24%;
    --ring: 220 23.08% 97.45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scroll-gutter {
  padding-left: calc(100vw - 100%);
}